@import "tailwindcss";

@source "../**/*.go";
@source "../**/*.html";
@source "../**/*.js";
@source "../**/*.templ";
@source "./**/*.css";
@source "./**/*.js";
@source "./**/*.ts";

@font-face {
    font-family: "RobotoMono";
    src: url("../fonts/RobotoMono.ttf") format("woff2");
    font-weight: 50 1000;
    font-stretch: 20% 200%;
}

:root {
    --ratio: 1.32
}

@theme {
    --font-sans: "RobotoMono", sans-serif;

    --text-xs: calc(var(--text-sm) / var(--ratio)) !important;;
    /* --text-xs--line-height: */
    --text-sm: calc(var(--text-base) / var(--ratio)) !important;;
    /* --text-sm--line-height: */
    --text-base: 12px !important;
    /* --text-base--line-height: */
    --text-lg:  calc(var(--text-base) * var(--ratio)) !important;;
    /* --text-lg--line-height: */
    --text-xl:  calc(var(--text-lg) * var(--ratio)) !important;;
    /* --text-xl--line-height: */
    --text-2xl: calc(var(--text-xl) * var(--ratio)) !important;;
    /* --text-2xl--line-height: */
    --text-3xl: calc(var(--text-2xl) * var(--ratio)) !important;;
    /* --text-3xl--line-height: */
    --text-4xl: calc(var(--text-3xl) * var(--ratio)) !important;;
    /* --text-4xl--line-height: */
    --text-5xl: calc(var(--text-4xl) * var(--ratio)) !important;;
    /* --text-5xl--line-height: */
    --text-6xl: calc(var(--text-5xl) * var(--ratio)) !important;;
    /* --text-6xl--line-height: */
    --text-7xl: calc(var(--text-6xl) * var(--ratio)) !important;;
    /* --text-7xl--line-height: */
    --text-8xl: calc(var(--text-7xl) * var(--ratio)) !important;;
    /* --text-8xl--line-height: */
    --text-9xl: calc(var(--text-8xl) * var(--ratio)) !important;;
    /* --text-9xl--line-height: */
}


@layer base {
    select option::checkmark {
        content: "";
    }

    option:checked {
        background-color: var(--color-primary);

        &:hover {
            background-color: color-mix(in oklch, var(--color-primary) 64%, white) !important;
        }
    }

    .fieldset-label {
        color: #e6e6e6 !important;
    }

    .table :where(th, td) {
        padding-block: .3rem !important;
    }
}

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(20% 0.01 30);
    --color-base-200: oklch(5% 0.08 30);
    --color-base-300: oklch(34.9% 0.012 30);
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: oklch(45.87% 0.285 264.19);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(75.77% 0.165 69.395);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.16 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
