@import "tailwindcss";

@source "../**/*.ts";
@source "../**/*.js";
@source "../**/*.templ";
@source "../**/*.html";
@source "../**/*.go";
@source "./**/*.ts";
@source "./**/*.js";

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(20% 0.01 30);
    --color-base-200: oklch(5% 0.08 30);
    --color-base-300: oklch(34.9% 0.012 30);
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: oklch(45.87% 0.285 264.19);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(75.77% 0.165 69.395);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.16 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@font-face {
    font-family: "RobotoMono";
    src: url("../fonts/RobotoMono.ttf") format("woff2");
    font-weight: 50 1000;
    font-stretch: 20% 200%;
}

@theme {
    --font-sans: "RobotoMono", sans-serif;
}
