@import "tailwindcss";
@source "../src/**/*.{rs,html,css}";


:root {
    --ratio: 1.2;

    --color-text: black;
    --color-bg: #ffeeee;
    --color-primary: oklch(45% .24 277.023);

    --color-border: color-mix(in srgb, var(--color-text) 20%, transparent 50%);
    --color-hover: color-mix(in srgb, var(--color-text) 10%, transparent 50%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: white;
        --color-bg: #141312;
    }
}

@theme {
    --font-sans: "RobotoMono", serif;
    --font-cascadia: "Cascadia", serif;

    --spacing: clamp(2px, 0.5vw, 4px);
    --text-xs: calc(var(--text-sm) / var(--ratio));
    --text-sm: calc(var(--text-base) / var(--ratio));
    --text-base: clamp(0.82rem, 1.1vw, 1rem);
    --text-lg: calc(var(--text-base) * var(--ratio));
    --text-xl: calc(var(--text-lg) * var(--ratio));
    --text-2xl: calc(var(--text-xl) * var(--ratio));
    --text-3xl: calc(var(--text-2xl) * var(--ratio));
    --text-4xl: calc(var(--text-3xl) * var(--ratio));
    --text-5xl: calc(var(--text-4xl) * var(--ratio));
    --text-6xl: calc(var(--text-5xl) * var(--ratio));
    --text-7xl: calc(var(--text-6xl) * var(--ratio));
    --text-8xl: calc(var(--text-7xl) * var(--ratio));
    --text-9xl: calc(var(--text-8xl) * var(--ratio));

    --radius-sm: calc(var(--radius-base) / var(--ratio));
    --radius-base: clamp(0.1rem, 0.8vw, 0.6rem);
    --radius-lg: calc(var(--radius-base) * var(--ratio));
    --radius-xl: calc(var(--radius-lg) * var(--ratio));
}

@layer base {
    * {
        &:hover {
            transition: all 300ms;
        }
    }

    html {
        @apply bg-(--color-bg) text-(--color-text) text-base;
    }

    input,
    select {
        @apply px-4 py-2 rounded-(--radius-base);
        border: 1px solid var(--color-border);
        background: color-mix(in srgb, var(--color-text) 3%, var(--color-bg));
    }

    button {
        @apply px-4 py-2 rounded-(--radius-base);
        border: 1px solid var(--color-border);

        &:hover {
            @apply brightness-150;
        }

        &:active {
            @apply brightness-90;
        }
    }

    .join {
        align-items: stretch;
        display: inline-flex
    }

    .join-item:where(:not(:first-child, :disabled, [disabled], .btn-disabled)) {
        margin-block-start: 0;
        margin-inline-start: calc(var(--border, 1px)*-1)
    }
}
