package page;

import layout "ae_invoice/src/web/layouts"

templ Index(title string) {
@layout.Base(title) {
<main role="main" id="main" class="mx-6 sm:mx-12 3xl:mx-0 my-4 md:my-6 flex
        flex-col gap-4 justify-center items-center">
    <h1 class="text-center text-2xl font-semibold">
        Achal Enterprice Invoice
    </h1>
</main>
}
}
